<?xml version="1.0"?>
<configuration>
  <system.web>
    <httpHandlers>
      <add verb="*" path="*.c" type="System.Web.HttpHandlers.CompressionHandler,MyExtensions"/>
    </httpHandlers>
  </system.web>
  <system.webServer>
    <handlers>
      <add name="CompressionHandler" preCondition="integratedMode" verb="*" path="*.c" type="System.Web.HttpHandlers.CompressionHandler,MyExtensions"/>
    </handlers>
  </system.webServer>
</configuration>
