<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
	</configSections>
	
	<connectionStrings>
		<clear />
		<add name="SQLiteDbConnection" connectionString="Data Source=|DataDirectory|yourdb.sqlite;Version=3;" />
	</connectionStrings>
	
	<appSettings />

	<system.web>
		
		<pages theme="" styleSheetTheme="" validateRequest="false">
			<controls>
				<add tagPrefix="asp" namespace="System.Web.UI" assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
				<add tagPrefix="asp" namespace="System.Web.UI.WebControls" assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
			</controls>
		</pages>
			
		<!-- <trust level="Full" /> -->
		
		<globalization uiCulture="auto:en" culture="auto:en-US" />
		
		<xhtmlConformance mode="Strict" />
		
		<compilation debug="false">
			<assemblies>
				<add assembly="System.Design, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
				<add assembly="System.Core, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
				<add assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
				<add assembly="System.Xml.Linq, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
				<add assembly="System.Data.DataSetExtensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
				<add assembly="System.Web.Extensions.Design, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
			</assemblies>
		</compilation>
		
		<!-- The <authentication> section enables configuration of the security authentication mode used by 
         ASP.NET to identify an incoming user.
				The timeout is set to 129,600 minutes by default, which is 90 days. This allows the user to be automatically 
				logged in (requires selecting the "Remember Me" checkbox during login which sets a persistent cookie).
				Note that when the user clicks "Log out", the persistent cookie is removed and the user will have to 
				log in next time. -->
		<authentication mode="Forms">
			<forms protection="All" timeout="129600" slidingExpiration="true" />
		</authentication>
		
		<authorization>
			<!--  <deny users="?" />-->
		</authorization>
		
		<!-- Configure the Membership provider.-->
		<membership defaultProvider="SQLiteMembershipProvider">
			<providers>
				<clear />
				<add applicationName="Gallery Server Pro" passwordFormat="Clear"
				 minRequiredNonalphanumericCharacters="0" minRequiredPasswordLength="2"
				 maxInvalidPasswordAttempts="50" enablePasswordReset="true" enablePasswordRetrieval="true"
				 passwordAttemptWindow="10" requiresQuestionAndAnswer="false"
				 requiresUniqueEmail="false" connectionStringName="SQLiteDbConnection"
				 name="SQLiteMembershipProvider" type="System.Data.SQLite.SQLiteMembershipProvider" />
			
			</providers>
		</membership>
		
		<!-- Configure the Role provider.-->
		<roleManager enabled="true" cacheRolesInCookie="true" cookieProtection="Validation" defaultProvider="SQLiteRoleProvider">
			<providers>
				<clear />
				<add applicationName="Gallery Server Pro" connectionStringName="SQLiteDbConnection"
				 name="SQLiteRoleProvider" type="System.Data.SQLite.SQLiteRoleProvider" />
				
			</providers>
		</roleManager>
		
		<!-- Configure the Profile provider.-->
		<profile defaultProvider="SQLiteProfileProvider">
			<providers>
				<clear />
				<add applicationName="Gallery Server Pro" connectionStringName="SQLiteDbConnection"
				 name="SQLiteProfileProvider" type="System.Data.SQLite.SQLiteProfileProvider" />
				
			</providers>
			<properties>
				<add name="ShowMediaObjectMetadata" defaultValue="false" type="String" allowAnonymous="true" />
				<add name="UserAlbumId" defaultValue="0" type="Int32" allowAnonymous="false" />
				<add name="EnableUserAlbum" defaultValue="true" type="String" allowAnonymous="false" />
			</properties>
		</profile>
		
		<anonymousIdentification enabled="true" />
		
		<httpHandlers>
			<remove verb="*" path="*.asmx" />
			<add verb="*" path="*.asmx" validate="false" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
			<add verb="*" path="*_AppService.axd" validate="false" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
			<add verb="GET,HEAD" path="ScriptResource.axd" type="System.Web.Handlers.ScriptResourceHandler, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" validate="false" />
		</httpHandlers>
		
		<httpModules>
			<add name="ScriptModule" type="System.Web.Handlers.ScriptModule, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
		</httpModules>
		
		<sessionState mode="InProc" timeout="60" />
		
		<!-- The <customErrors> section controls what happens if/when an unhandled error occurs. This setting is
			ignored if enableExceptionHandler=true in galleryserverpro.config.
			The mode attribute must be one of these values: Off (No redirection is performed; all users get detailed
			error message), On (all users are redirected to friendly error page), RemoteOnly (local users see detailed
			error message, remote users are redirected) -->
		<customErrors mode="RemoteOnly" />
		
	</system.web>
	
	<!--
	The site admin page lets you specify the smtp server and port, and the entries are stored in galleryserverpro.config.
	If you need to specify a username and password, you can do so here. When this section is configured, the smtp 
	server and port in galleryserverpro.config are ignored, so make sure to include the server and port here. Uncomment 
	the section below to make it take effect. -->
	<!--
	<system.net>
		<mailSettings>
			<smtp>
				<network
             host="relayServerHostname"
             port="portNumber"
             userName="username"
             password="password" />
			</smtp>
		</mailSettings>
	</system.net>
	-->
	
	<system.webServer>
		<!-- By default IIS 7 restricts uploads larger than about 30 MB. To allow larger uploads, use the <requestFiltering>
			element to set a new value. The attribute maxAllowedContentLength is in bytes, so to set a new value of 2 GB,
			use 2147483648 (2 * 1024 * 1024 * 1024).
			Note: If you get an error that requestFiltering cannot be overriden you must edit 
			%windir%\System32\inetsrv\config\applicationHost.config file and change the string:
				<section name="requestFiltering" overrideModeDefault="Deny" />
			to:
				<section name="requestFiltering" overrideModeDefault="Allow" />

		<security>
			<requestFiltering>
				<requestLimits maxAllowedContentLength="2147483648"/>
			</requestFiltering>
		</security>
		-->
		
		<validation validateIntegratedModeConfiguration="false" />
		
		<modules>
			<remove name="ScriptModule" />
			<add name="ScriptModule" preCondition="managedHandler" type="System.Web.Handlers.ScriptModule, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
		</modules>
		
		<handlers>
			<remove name="WebServiceHandlerFactory-Integrated" />
			<remove name="ScriptHandlerFactory" />
			<remove name="ScriptHandlerFactoryAppServices" />
			<remove name="ScriptResource" />
			<add name="ScriptHandlerFactory" path="*.asmx" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" preCondition="integratedMode" verb="*" />
			<add name="ScriptHandlerFactoryAppServices" path="*_AppService.axd" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" preCondition="integratedMode" verb="*" />
			<add name="ScriptResource" path="ScriptResource.axd" type="System.Web.Handlers.ScriptResourceHandler, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" preCondition="integratedMode" verb="GET,HEAD" />
		</handlers>
		
		<defaultDocument>
			<files>
				<clear />
				<add value="default.aspx" />
			</files>
		</defaultDocument>

		<!-- Add custom MIME types needed for media objects that a default IIS installation won't server.  -->
		<staticContent>
			<mimeMap fileExtension=".divx" mimeType="video/divx" />
		</staticContent>
		
	</system.webServer>
	
	<system.codedom>
		<compilers>
			<compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CSharp.CSharpCodeProvider,System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" warningLevel="4">
				<providerOption name="CompilerVersion" value="v3.5" />
				<providerOption name="WarnAsError" value="false" />
			</compiler>
		</compilers>
	</system.codedom>
	
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Extensions" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="3.5.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Extensions.Design" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="3.5.0.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
	
</configuration>